# ASSIGNMENT 1
### #Task 1
**NAME = Abhishek Gupta**

**Write code in python to print following patterns**

###Question 1 -->>
5 5 5 5 5\
5 5 5 5\
5 5 5\
5 5\
5

In [17]:
for i in range(5):
  for j in range(i, 5):
    print("5", end=" ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

###Question 2 -->>
0 1 2 3 4 5\
0 1 2 3 4\
0 1 2 3\
0 1 2\
0 1

In [18]:
for i in range(5):
  for j in range(0, 6-i):
    print(j, end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

###Question 3-->>
1\
3 3\
5 5 5\
7 7 7 7\
9 9 9 9 9

In [32]:
for i in range(1,10,2):
  for j in range(0,i,2):
    print(i, end=" ")
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

###Question-->> 4.
1\
2 1\
3 2 1\
4 3 2 1\
5 4 3 2 1

In [20]:
for i in range(0, 6):
  for j in range(i, 0, -1):
    print(j, end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

###Question-->>5
1\
3 2\
6 5 4\
10 9 8 7

In [21]:
m=1
for i in range(1,5 ):
  for j in range(m, m-i, -1):
    print(j, end=" ")
  m=m+i+1
  print()

1
3 2
6 5 4
10 9 8 7

###Question-->>6
1\
1 1\
1 2 1\
1 3 3 1\
1 4 6 4 1\
1 5 10 10 5 1\
1 6 15 20 15 6 1

In [22]:
n=7
for line in range(1, n + 1):
	C = 1;
	for i in range(1, line + 1):
		print(C, end = " ");
		C = int(C * (line - i) / i);
	print("")

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

###Question ->> 7
1 2 3 4 5\
2 2 3 4 5\
3 3 3 4 5\
4 4 4 4 5\
5 5 5 5 5

In [23]:
for i in range(1, 6):
  for j in range(6, 6-i,-1):
    print(i, end=" ")
  for j in range(i+1, 6):
    print(j, end=" ")
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

###Question -->> 8
1\
2 4\
3 6 9\
4 8 12 16\
5 10 15 20 25\
6 12 18 24 30 36\
7 14 21 28 35 42 49\
8 16 24 32 40 48 56 64

In [24]:
for i in range(1, 9):
  for j in range(i, i*i+1, i):
    print(j, end=" ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

###Question-->> 9
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [25]:
for i in range(6):
  for j in range(0,i):
    print("", end=" ")
  for j in range(0,6-i):
    print("*", end=" ")
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

Question-->>10
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [26]:
for i in range(0, 7):
  for j in range(0,7-i):
    print(" ", end="")
  for j in range(0, i+1):
    print(" * ", end="")
  print()

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *
   *  *  *  *  *  *
  *  *  *  *  *  *  *

Question -->> 11
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
for i in range(0, 6):
  for j in range(0, i+1):
    print("* ", end="")
  print()
print()
for i in range(0, 6):
  for j in range(0, 6-i):
    print("* ", end="")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

Question-->>12
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
for i in range(0, 5):
  for j in range(0, i+1):
    print("* ", end="")
  print()
for i in range(0, 4):
  for j in range(0, 4-i):
    print("* ", end="")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Question-->>13
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [29]:
for i in range(0, 5):
  for j in range(0, 5-i):
    print("  ",end="")
  for j in range(0, i+1):
    print("* ", end="")
  print()
for i in range(0, 5):
  for j in range(0, i+2):
    print("  ",end="")
  for j in range(0, 4-i):
    print("* ", end="")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

Question-->>14
* * * * *
 * * * *
  * * *
   * *
    * 
    *
   * *
  * * *
 * * * *
* * * * *

In [30]:
for i in range(0, 5):
  for j in range(0, i):
    print(" ", end="")
  for j in range(0, 5-i):
    print("* ", end="")
  print()
for i in range(1, 6):
  for j in range(1, 6-i):
    print(" ", end="")
  for j in range(0, i):
    print("* ", end="")
  print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

Question-->>15
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [31]:
for i in range(0, 8):
  for j in range(0, 8-i):
    print("*", end="")
  for j in range(0, i):
    print("_", end="")
  for j in range(0, i):
    print("_", end="")
  for j in range(0, 8-i):
    print("*", end="")
  print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*